@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    font-family: 'Macondo', cursive;
    font-family: 'Playfair Display', serif;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    /* margin-top:5%; */
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* width: 30%; */
    margin-bottom: 10%;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;

}
form h3{
    font-size: 1.5rem;
    font-weight:500;
    color: rgb(43, 104, 228);
}
form input{
    margin:10px 0px 10px 0px;
    /* width: 80%; */
    height: 30px;
    border: 2px solid white;
    border-bottom-color: rgb(43, 104, 228);
}

input:focus{
    outline: 2px solid rgb(255, 255, 255);     /* oranges! yey */
  }
form button{
    margin: 10px 0px 10px 0px;
    width: 80%;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(43, 104, 228);
    color: white;
    border: 2px solid white;
}
.button{
    background-color: rgb(43, 104, 228);
}
.oneliner{
    display: flex;
    justify-content: center;
    background-color: rgb(136 19 55);
    color: white;
    font-size: 1.3rem;
}